* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
color: black;
}

li {
list-style: none;
}

main {
width: 100%;
height: 100vh;
background-image: url('img/payaso_asesino.jpg');
background-position: center;
background-repeat: no-repeat;
background-color: black;
}

/* PLAYERS CONTAINER */
#wheel {
height: 70%;
width: 100%;
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: 1fr 1fr 1fr 1fr;

}

/* BUTTONS CONTAINER */
#buttons {
display: flex;
justify-content: space-around;
}

/* GENERAL BUTTON STYLE */
.button {
    background-color: red;
    padding: 1em;
    display: block;
}

/* PLAYER STYLE */
.player {

    
    background-color: grey;
    width: 5em;
    height: 5em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.alive {
background-color: green;
}

.player-selected {
    background-color: rgb(140, 0, 255);
}

.dead {
    background-color: grey;
}
  
  