* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
color: black;
}

li {
list-style: none;
}

main {
width: 100%;
height: 100vh;
}

/* PLAYERS CONTAINER */
#wheel {
height: 90%;
width: 100%;
display: flex;
justify-content: center;
}

/* BUTTONS CONTAINER */
#buttons {
display: flex;
justify-content: space-around;
}

/* GENERAL BUTTON STYLE */
.button {
    background-color: red;
    padding: 1em;
    display: block;
}

/* PLAYER STYLE */
.player {

    padding: 1em;
    background-color: grey;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    
}
.alive {
background-color: green;
}

.player-selected {
    background-color: rgb(140, 0, 255);
}

.dead {
    background-color: grey;
}
  
  
/* CIRCULO CSS */
#wheel { 
    height: 40em; 
    width: 40em; 
    border: 8px solid black;
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 50%; 
    position: relative; 
    overflow: hidden; 
    margin: auto;
    margin-top: 30px;
    
} 


.sect { 
    height: 0; 
    width: 0; 
    position: absolute; 
    top: 0; 
    right: 0; 
    border-right: 20em solid green; 
    border-top: 20em solid transparent;
    transform-origin: bottom left; 
    /* transform: rotate(180deg);  */
    border-right: 20em solid peru; 
     
} 

.sect h3 {
    position: relative;
    top: -50px;
    right: -180px;
    color: white;
    z-index: 100;
}

.inner-circ {
    height: 20em; 
    width: 20em; 
    top: 50%;
    left: 50%;
    border: 8px solid black;
    background-position: center;
    border-radius: 50%; 
    position: absolute; 
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: -10em 0em 0em -10em;
}